.bar-chart:vertical .chart-content .chart-plot-background {
  -fx-background-color: #212121;
}

.axis:left {
  -fx-minor-tick-count: 0;
  -fx-border-color: #212121;
}

.axis:bottom {
  -fx-minor-tick-count: 0;
  -fx-background-color: #212121;
  -fx-border-color: #212121;
}

.bar-chart:vertical .chart-content .plot-content .default-color0 {
  -fx-max-width: 50px;
}

.bar-chart:vertical .chart-content .plot-content .default-color1 {
  -fx-max-width: 50px;
}

.bar-chart:vertical .chart-content .plot-content .default-color2 {
  -fx-max-width: 50px;
}
