.bar-chart:vertical .chart-content .chart-plot-background {
  -fx-background-color: #212121;
}

.axis:left {
  -fx-minor-tick-count: 0;
  -fx-border-color: #212121;
}

.axis:bottom {
  -fx-minor-tick-count: 0;
  -fx-background-color: #212121;
  -fx-border-color: #212121;
}
